.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.counter {
  width: 250px;
  height: 40px;
  font-size: 20px;
}

.tile {
  width: 30px;
  height: 30px;
  font-size: 20px;
  padding: 0;
  vertical-align: middle;
  border: 0;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: #83b74e;
}
.tile :hover {
  background-color: #102322;
}

.cleared {
  background-color: #d7e9c5;
}

.exploded {
  background-color: #ff5630;
}

.number {
  color: #0a57d3;
  background-color: #d7e9c5;
}

.flag {
  background-color: #c5003e;
}

.grid {
  margin-top: 40px;
}
